body{
    background-color: #ddb892;
    font-family: "Nunito", sans-serif;
}

#mainNavbar {
    font-size:1.5rem;
    font-weight:100;
}

#mainNavbar .nav-link {
    color: #9c6644;
}
 
#mainNavbar .nav-link:hover {
    color: #ede0d4;
}

#mainNavbar .navbar-brand {
    color: #ede0d4;
}


.bgimage {
    height:100vh;
    background: url('images/heroImage.jpeg');
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
    color:#7f5539;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #7f5539;
}

.imageAboutPage {
    width: 100%;
}




h1,h3,h4 {
    text-align: center;
    color: #9c6644;
}

.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
  }
  
  .skill-header {
    margin-bottom: 1rem;
    color :#9c6644;
  }
  
  .skills-wrapper img {
    padding: 1.25rem;
  }
  
  .icon {
    width: 11.875rem;
    height: 11.25rem;
  }

  .icon-card {
    background-color: #e6ccb2;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
  }


  .projects {
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
  }
  
  .project-pic {
    width: 65%;
    height: 60%;
  }
  
  .projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .projects-title {
    text-align: center;
    margin-bottom: 1rem;
    color:#9c6644;
  }
  
  .project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
  }

  .project-container p {
    padding: 0.4rem;
  }
  
  .project-title {
    margin-bottom: var(--bottom-margin);

  }
  
  .project-details {
    margin-bottom: var(--bottom-margin);
  }
  
  .project-card {
    background-color: #ede0d4;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
  }